{% load static from staticfiles %}
{#{% load bootstrap3 %}#}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Guia de Compras no Paraguai{% endblock %}</title>
	 	<meta name="description" content="Seleção de dicas que você precisa saber antes, durante e depois de ir às compras no Paraguai!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'guia/css/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'guia/font/css/font-awesome.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic&amp;subset=latin,latin-ext" type="text/css" rel="stylesheet">
        <link href="{% static 'guia/css/custom.css' %}" rel="stylesheet">

    </head>
    <body>
        <header>
            <div class="container">
                <div class="col-xs-12">
					<a href="http://www.comprasparaguai.com.br/" target="_blank" class="logo">
                    	<img src="{% static 'guia/img/compras-paraguai.png' %}" alt="Guia Compras Paraguai" class="logo">
					</a>
                </div>
            </div>
        </header>
		{% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="{% static 'guia/js/parsley/parsley.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'guia/js/parsley/pt-br.js' %}"></script>
        <script src="{% static 'guia/js/custom.js' %}"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42684617-3', 'auto');
			ga('send', 'pageview');
		</script>
    </body>
</html>